.Rproj.user
.Rproj.user*
.Rproj.user\*
.Rproj.user\*
.Rproj.user/
/.Rproj.user/
Rproj.user\*
.Rhistory
.RData
.Ruserdata
.DS_Store
/.quarto/

/.luarc.json
.Rproj.user/shared/notebooks/paths
nul

/materials/slides/